<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order List</title>
    <link rel="stylesheet" href="/css/common.css">
    <script src="/js/loading.js" defer></script>
</head>
<body>

    <script>

        fetch('/order/ODCO240717007919', {
            method: 'get'
        })
            .then(res => res.json())
            .then(data => console.log(data));

        fetch('/order/ODCO240717007919/1', {
            method: 'get'
        })
            .then(res => res.json())
            .then(data => console.log(data));
    </script>

</body>
</html>