<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Order Qty Check</title>
    <link rel="stylesheet" href="/css/common.css">
    <style>
        #file-submit,#text-submit {
            display: none;
        }
        .active {
            display: inherit !important;
        }
        form {
            border: 1px solid black;
            padding: 20px;
            margin-top: 15px;
        }
        header {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }
    </style>


</head>
<body>
    <header>
        <a href="/home"><h1>홈으로</h1></a>
    </header>

    <div class="select">
        <label for="selectFile">
            <input type="radio" name="select" id="selectFile" value="selectFile">
            CSV File
        </label>

        <label for="selectText">
            <input type="radio" name="select" id="selectText" value="selectText">
            Contact Order No
        </label>
    </div>

    <form id="file-submit" action="/contact/check-qty" method="post" enctype="multipart/form-data">
        <label for="file">file : </label>
        <input type="file" name="file" id="file">
        <p>ex)</p>
        <p>Contact Order No, Qty</p>
        <p>9123919,10</p>
        <p>9123920,11</p>
        <p>9123921,20</p>

        <button type="button" onclick="serverSubmit(this);">전송</button>
    </form>

    <form id="text-submit" action="/contact/check-qty" method="post" enctype="multipart/form-data">
        <p>Contact Order No</p>
        <textarea name="contactOrderNo" id="contactOrderNo" style="width: 100%; height: 300px"></textarea>
        <input type="file" name="file" style="display: none">
        <button type="button" onclick="serverSubmit(this);">전송</button>
    </form>


    <script src="/js/loading.js"></script>
    <script>
        const file_submit_form = document.querySelector('#file-submit');
        const text_submit_form = document.querySelector('#text-submit');
        const radioFile = document.querySelector('#selectFile')
        const radioContactOrder = document.querySelector('#selectText');
        const fileNode = document.querySelector('#file');
        const textareaNode = document.querySelector('#contactOrderNo');

        const serverSubmit = (button) => {
            const form = button.closest('form');

            if(form === file_submit_form && !fileNode.value) {
                return alert('CSV file does not exist');
            }
            if (form === text_submit_form && !textareaNode.value ) {
                return alert("Contact Order No does not exist");
            }

            Loading.start();
            form.submit();
        }

        radioFile.addEventListener('change', () => {
            text_submit_form.classList.remove('active');
            file_submit_form.classList.add('active');
        });

        radioContactOrder .addEventListener('change', () => {
            file_submit_form.classList.remove('active');
            text_submit_form.classList.add('active');
        });

        radioContactOrder.click();
    </script>

</body>
</html>
